.mat-mdc-tab:hover {
    background-color: #36CEE2 !important;
    color: white !important;
  }
  
  .mat-mdc-tab.active {
    background-color: #36CEE2 !important;
    color: white !important;
  }
  .mat-mdc-button-base {
    margin: 20px 10px;
  }
  .mat-mdc-tab-group-stretch-tabs {
    padding: 20px !important;
  }