<style>
    .form-group {
        margin: 10px 0;
    }
    button {
        margin: 0 10px;
    }
  </style>
  <app-notification></app-notification>
  <h2 class="section--title mt-2">QUẢN LÝ HỒ SƠ Y TẾ</h2>
  <div class="recent--patients">
    <div class="title" [hasPermission]="'QuanLy,BacSi,TroLyBacSy'">
      <button class="add" (click)="addMedicalRecord()">
        <span class="lock-icon"></span>
        Thêm hồ sơ y tế
      </button>
    </div>
  
    <!-- Form thêm/sửa hồ sơ y tế -->
    <div *ngIf="showForm" class="form-container">
        <h3>{{ editMode ? 'Chỉnh sửa hồ sơ y tế' : 'Thêm hồ sơ y tế mới' }}</h3>
        <form [formGroup]="medicalRecordForm" (ngSubmit)="saveMedicalRecord()">
          <div class="form-group" hidden>
            <label>Mã hồ sơ y tế</label>
            <input formControlName="maHoSoYTe" class="form-control" readonly>
          </div>
          <div class="form-group">
            <label>Tên bệnh nhân</label>
            <mat-form-field appearance="fill" style="width: 100%;">
              <input
                matInput
                placeholder="Nhập tên bệnh nhân"
                [matAutocomplete]="auto"
                formControlName="maBenhNhan">
                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayBenhNhan.bind(this)" (optionSelected)="onBenhNhanSelected($event)">
                  <mat-option *ngFor="let benhNhan of filteredBenhNhan" [value]="benhNhan">
                    {{ benhNhan.ten }} (Mã bệnh nhân: {{ benhNhan.maBenhNhan }})
                  </mat-option>
                  <mat-option *ngIf="filteredBenhNhan.length === 0 && medicalRecordForm.get('maBenhNhan')?.value" disabled>
                    Không tìm thấy bệnh nhân
                  </mat-option>
                </mat-autocomplete>
            </mat-form-field>
          </div>
          <div class="form-group">
            <label>Chẩn đoán</label>
            <textarea formControlName="chuanDoan" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Phương pháp điều trị</label>
            <textarea formControlName="phuongPhapDieuTri" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <label>Lịch sử bệnh</label>
            <textarea formControlName="lichSuBenh" class="form-control"></textarea>
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-success">Lưu</button>
            <button type="button" (click)="cancelForm()" class="btn btn-secondary">Hủy</button>
          </div>
        </form>
      </div>
  
    <!-- Bảng danh sách hồ sơ y tế -->
    <div class="table table-striped">
      <table>
        <thead>
          <tr>
            <th>Mã hồ sơ y tế</th>
            <th>Tên bệnh nhân</th>
            <th>Chẩn đoán</th>
            <th>Phương pháp điều trị</th>
            <th>Lịch sử bệnh</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let hoSo of data">
            <td>{{ hoSo.maHoSoYTe }}</td>
            <td>{{ getTenBenhNhan(hoSo.maBenhNhan) }}</td>
            <td>{{ hoSo.chuanDoan }}</td>
            <td>{{ hoSo.phuongPhapDieuTri }}</td>
            <td>{{ hoSo.lichSuBenh }}</td>
            <td class="td-custom">
              <button [hasPermission]="'QuanLy,BacSi,TroLyBacSy'" (click)="editMedicalRecord(hoSo)" class="btn btn-warning" style="margin-right: 10px;">
                <span class="lock-icon"></span>
                Sửa
              </button>
              <button [hasPermission]="'QuanLy,BacSi,TroLyBacSy'" (click)="deleteMedicalRecord(hoSo.maHoSoYTe)" class="btn btn-danger" style="margin-left: 10px;">
                <span class="lock-icon"></span>
                Xóa
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  
    <!-- Phân trang -->
    <div class="mt-2" *ngIf="data.length > 0">
      <mat-paginator
        [length]="totalItems"
        [pageSize]="pageSize"
        [pageSizeOptions]="[5, 10, 20]"
        [pageIndex]="pageIndex"
        (page)="onPageChange($event)"
        showFirstLastButtons>
      </mat-paginator>
    </div>
  </div>