<div *ngIf="isVisible" class="notification alert alert-dismissible fade show" [ngClass]="alertClass" role="alert" style="margin-top: 100px; margin-right: 100px;">
  <div class="d-flex align-items-center" style="margin: 10px;">
    <!-- Icon tùy theo loại thông báo -->
    <i class="me-2" [ngClass]="{
      'bi bi-exclamation-circle-fill': alertClass === 'alert-danger',
      'bi bi-check-circle-fill': alertClass === 'alert-success',
      'bi bi-info-circle-fill': alertClass === 'alert-info'
    }"></i>
    <!-- Hiển thị thông báo -->
    <span>{{ message }}</span>
    <!-- Nút đóng -->
    <button type="button" class="btn-close btn-close-sm" (click)="onClose()" aria-label="Close"></button>
  </div>
</div>