<style>
    .table th {
      text-align: center;
      background: #5073fb;
      color: #fff;
      border-left: solid 1px;
    }
    .table td {
      text-align: center;
      border: solid 1px;
      border-bottom: none;
      border-left: none;
    }
  
    .table tr:hover {
      background: #f1f1f1;
    }
  
    .title {
      display: flex;
      justify-content: flex-end;
    }
  </style>
  <h2 class="section--title">Quản Lý Phòng Khám</h2>
  <div class="recent--patients">
      <div class="title">
          <button class="add"><i class="ri-add-line"></i>Thêm dịch vụ y tế</button>
    </div>
      <div class="table table-striped">
        <table>
            <thead>
                <tr>
                    <th>Mã dịch vụ y tế</th>
                    <th>Tên dịch vụ</th>
                    <th>Chi phí</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let dichVu of data">
                    <td>{{ dichVu.maDichVuYTe }}</td>
                    <td>{{ dichVu.ten }}</td>
                    <td>{{ dichVu.chiPhi | currency:'VND':'symbol':'1.0-0' }}</td>
                    <td>
                      <a class="edit"><i class="ri-edit-line edit"></i></a> 
                      <a class="delete"><i class="ri-delete-bin-line delete"></i></a>
                  </td>
                </tr>
            </tbody>
        </table>
  </div>