<app-notification></app-notification>
<h2 class="section--title mt-2">Quản Lý Phòng Khám</h2>
<div class="recent--patients">
  <div class="title">
        <button class="add" (click)="addService()"><i class="ri-add-line"></i>Thêm dịch vụ y tế</button>
  </div>
<div *ngIf="showForm" class="form-container">
  <h3>{{ editMode ? 'Chỉnh sửa dịch vụ' : 'Thêm dịch vụ mới' }}</h3>
  <form [formGroup]="serviceForm" (ngSubmit)="saveService()">
    <div>
      <label>Mã dịch vụ:</label>
      <input formControlName="maDichVuYTe" readonly>
    </div>
    <div>
      <label>Tên dịch vụ:</label>
      <input formControlName="ten">
    </div>
    <div>
      <label>Chi phí (VND):</label>
      <input type="number" formControlName="chiPhi">
    </div>
    <div class="buttons">
      <button type="submit">Lưu</button>
      <button type="button" (click)="cancelForm()">Hủy</button>
    </div>
  </form>
</div>

<div class="table table-striped">
      <table>
          <thead>
              <tr>
                  <th>Mã dịch vụ y tế</th>
                  <th>Tên dịch vụ</th>
                  <th>Chi phí</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let dichVu of data">
              <td>{{ dichVu.maDichVuYTe }}</td>
              <td>{{ dichVu.ten }}</td>
              <td>{{ dichVu.chiPhi | currency:'VND':'symbol':'1.0-0' }}</td>
              <td>
                <a class="edit" (click)="editService(dichVu)"><i class="ri-edit-line edit"></i></a>
                <a class="delete" (click)="deleteService(dichVu.maDichVuYTe)"><i class="ri-delete-bin-line delete"></i></a>
              </td>
            </tr>
          </tbody>
      </table>
</div>
  <div class="mt-5" *ngIf="data.length > 0">
    <mat-paginator
      [length]="totalItems"
      [pageSize]="pageSize"
      [pageSizeOptions]="[3, 6, 9]"
      [pageIndex]="pageIndex"
      (page)="onPageChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>
</div>