<style>
    .form-group {
        margin: 10px 0;
    }
    button {
        margin: 0 10px;
    }
</style>
<app-notification></app-notification>
<h2 class="section--title mt-2">Quản Lý Phòng Khám</h2>
<div class="recent--patients">
  <div class="title">
        <button class="add" (click)="addService()"><i class="ri-add-line"></i>Thêm phòng khám mới</button>
  </div>
<div *ngIf="showForm" class="form-container">
  <h3>{{ editMode ? 'Chỉnh sửa phòng khám' : 'Thêm phòng khám mới' }}</h3>
  <form [formGroup]="serviceForm" (ngSubmit)="saveService()">
    <div class="form-group" hidden>
      <label>Mã phòng khám</label>
      <input formControlName="maPhongKham" class="form-control" readonly />
    </div>
    <div class="form-group">
      <label>Loại phòng khám</label>
      <input formControlName="loai" class="form-control" />
    </div>
    <div class="form-group">
      <label>Sức chứa</label>
      <input formControlName="sucChua" class="form-control" type="number" />
    </div>
    <div class="form-group">
      <button type="submit" class="btn btn-success">Lưu</button>
      <button type="button" (click)="cancelForm()" class="btn btn-secondary">Hủy</button>
    </div>
  </form>
</div>
  
<div class="table table-striped">
      <table>
          <thead>
              <tr>
                <th>Mã phòng khám</th>
                <th>Loại</th>
                <th>Sức chứa</th>
                <th>Hành động</th>
              </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of data">
                <td>{{ item.maPhongKham }}</td>
                <td>{{ item.loai }}</td>
                <td>{{ item.sucChua }}</td>
                <td>
                  <button (click)="editService(item)" class="btn btn-warning">Sửa</button>
                  <button (click)="deleteService(item.maPhongKham)" class="btn btn-danger">Xóa</button>
                </td>
            </tr>
          </tbody>
      </table>
</div>
<div class="mt-5" *ngIf="data.length > 0">
<mat-paginator
    [length]="totalItems"
    [pageSize]="pageSize"
    [pageSizeOptions]="[3, 6, 9]"
    [pageIndex]="pageIndex"
    (page)="onPageChange($event)"
    showFirstLastButtons>
</mat-paginator>
</div>
</div>