<h2 class="section--title">Quản Lý Phòng Khám</h2>
<div class="recent--patients">
    <div class="title">
        <button class="add"><i class="ri-add-line"></i>Thêm phòng khám mới</button>
  </div>
    <div class="table table-striped">
      <table>
          <thead>
              <tr>
                  <th>Mã phòng khám</th>
                  <th>Tên phòng khám</th>
                  <th>Sức chứa</th>
                  <th>Action</th>
              </tr>
          </thead>
          <tbody>
              <tr>
                  <td>Cameron Williamson</td>
                  <td>30/07/2022</td>
                  <td>61kg</td>
                  <td>
                    <a class="edit"><i class="ri-edit-line edit"></i></a> 
                    <a class="delete"><i class="ri-delete-bin-line delete"></i></a>
                </td>
              </tr>

              <tr>
                <td>Cameron Williamson</td>
                <td>30/07/2022</td>
                <td>61kg</td>
                <td>
                    <a class="edit"><i class="ri-edit-line edit"></i></a> 
                    <a class="delete"><i class="ri-delete-bin-line delete"></i></a>
                </td>
            </tr>
          </tbody>
      </table>
</div>